<div class="flex flex-col h-full">
  <div class="flex flex-col p-4 border-b-2">
    <mat-form-field class="small max-w-2xl" appearance="outline">
      <input [formControl]="searchFormControl" type="text" matInput />
      <mat-icon
        [class.cursor-pointer]="searchFormControl.value"
        (click)="searchFormControl.reset()"
        matSuffix
      >
        @if (!searchFormControl.value) {
          search
        } @else {
          close
        }
      </mat-icon>
    </mat-form-field>
    <ng-template #menu>
      <div class="example-menu" cdkMenu>
        @for (item of sortMenuItems; track item.id) {
          <button
            cdkMenuItemRadio
            [cdkMenuItemChecked]="
              store.order().property == item.order.property &&
              store.order().direction == item.order.direction
            "
            (cdkMenuItemTriggered)="store.setOrder(item.order)"
            class="example-menu-item"
          >
            {{ item.text }}
          </button>
        }
      </div>
    </ng-template>
    <div class="flex items-end justify-between">
      @if (store.bookingsCount(); as counts) {
        <mat-chip-listbox>
          @for (item of filterCategories; track $index) {
            <mat-chip-option
              (click)="store.setFilter({ category: item })"
              [selected]="store.filter().category === item"
              [selectable]="store.filter().category !== item"
            >
              {{ item | categoryName }}
              <span class="text-gray-500">{{ counts.get(item) || 0 }}</span>
            </mat-chip-option>
          }
        </mat-chip-listbox>
        <button class="ml-2" [cdkMenuTriggerFor]="menu" mat-icon-button>
          <mat-icon>sort</mat-icon>
        </button>
      }
    </div>
  </div>
  @if (store.loading()) {
    <mat-progress-spinner
      class="m-auto"
      mode="indeterminate"
      diameter="30"
    ></mat-progress-spinner>
  } @else {
    <app-booking-list
      class="overflow-auto"
      [bookings]="store.bookings() || []"
    ></app-booking-list>
  }
</div>
